<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div><span>city: </span>{{city?.name}}</div>
  <div><span>cityid: </span>{{hero.cityid}}</div>
  
  <div>
    <label for="hero-name">Hero name:</label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name"/>
  </div>

  <br>

  <select name="city" id="city" class="dropbtn">
    <option disabled selected>Add City</option>
    <option *ngFor="let a of cities" [value]="a.id">{{a.name}}</option>
  </select>

  <br>
  
  <button type="button" 
    (click)="goBack()">Go Back</button>
  <button type="button" 
    (click)="save()">Save</button>
</div>
