/* HeroDetailComponent's private CSS styles */
label {
  color: #435960;
  font-weight: bold;
}
input {
  font-size: 1em;
  padding: .5rem;
}
button {
  margin-top: 20px;
  margin-right: .5rem;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}
button:hover {
  background-color: #42545C;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.dropbtn {
  background-color: #EEE;
  color: black;
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.dropbtn:hover {
  color: white;
  background-color: #42545C;
}

.dropbtn:focus {
  color: white;
  background-color: #42545C;
}

/* Change color of dropdown links on hover */
.dropbtn-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropbtn:hover .dropdown-content {
  display: block;
}