<app-generic-search
  [searchTitle]="'Hero Search: (search by name)'">
</app-generic-search>

<input #heroSearchBox id="city search-box" (input)="heroSearch(heroSearchBox.value)" />

<app-generic-search
  [observables]="heroes$"
  [route]="'/detail/'">
</app-generic-search>

<app-generic-search
  [searchTitle]="'City Search: (search heroes by city)'">
</app-generic-search>

<input #citySearchBox id="city search-box" (input)="citySearch(citySearchBox.value)" />

<app-generic-search
  [observables]="cities$"
  [route]="'/heroesbycity/'">
</app-generic-search> 



