<h2>My Heroes</h2>

<div>
  <label for="new-hero">Hero name:</label>
  <input id="new-hero" #heroName />
  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button"
    (click)="add(heroName.value.trim(), city.cityid); heroName.value=''">Add Hero</button>


  <select name="city" id="city" class="dropbtn" [(ngModel)]="city.cityid">
    <option disabled selected>Add City</option>
    <option *ngFor="let c of cities" [value]="c.id">{{c.name}}</option>
  </select>

</div>

<app-hero-list [heroes]="heroes"></app-hero-list>