<h2>Add Hero</h2>

<div>
  <label for="new-hero">Hero name:</label>
  <input id="new-hero" #heroName />

  <button type="button" class="add-button"
    (click)="addHero(heroName.value.trim(), city.cityid); heroName.value=''">
    Add Hero
  </button>

  <label for="new-city">New hero city:</label>

  <select name="city" id="city" class="dropbtn" [(ngModel)]="city.cityid">
    <option disabled selected>
      Add City
    </option>

    <app-generic-city-list 
      [cityList]="cities">
    </app-generic-city-list>  
  </select>
</div>

<h2>My Heroes</h2>

<app-hero-list [heroes]="heroes"></app-hero-list>